﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo</title>
    <script src="~/js/teste.js"></script>
    <link href="~/css/teste.css" rel="stylesheet" />
    @RenderSection("estilos", required: false)
    @RenderSection("js", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
