﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teste";
    ViewBag.Titulo = "Login";
}
@section js {
    <script>
        var okay = {
            init: function () {
                y.onclick("btnOK", okay.btnOkay);
            },
            btnOkay: function () {
                var dados = {
                    usuario: y.byId("usuario").value,
                    senha: y.byId("senha").value
                }
                y.ajax(dados, "/Teste/Logar", "POST", function (lit) {
                    if (lit.logado) {
                        document.location.href = lit.url;
                    }
                    else {
                        y.byId("msg").innerHTML = "Usuário inválido.";
                    }
                }, function () {
                    alert("Deu erro....");
                })
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            okay.init();
        });
    </script>
}
<div id="corpo">
    <input type="text" id="usuario" name="usuario" placeholder="Login..." />
    <br />
    <input type="password" id="senha" name="senha" placeholder="Senha..." />
    <br />
    <input type="button" id="btnOK" name="btnOK" value="OK" />
    <br />
    <br />
    <div id="msg"></div>
</div>